<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Why choose me?</h2>
                <hr class="light">
                <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed rutrum diam, in vestibulum est. Etiam pretium mauris fringilla ullamcorper scelerisque. Sed mauris orci, ultricies nec orci non, mollis pretium magna. Donec volutpat arcu sed diam posuere, eu euismod odio dictum. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed velit vitae erat posuere tristique. Fusce sed fermentum dolor, ac vestibulum</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact me</a>
            </div>
        </div>
    </div>
</section>

