<div class="bg-dark">
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <p><b>Phone</b></p>
                <p>859-468-3886</p>
            </div>
            <div class="col-lg-4 text-center">
                <p><b>Email</b></p>
                <p><a href="mailto:your-email@your-domain.com">clark2je@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>
</div>
