<header>
    <div class="header-content">
        <div class="header-content-inner">            
            <div class="Row">
			    <div class="Column">
			    	<h1 style="color: white">JULIO CLARKE</h1>
            		<p style="color: white; margin-top: 20px;">If you want to buy or sell real estate, I'm the guy you should call.</p>
            	</div>
			    <div class="Column">
			    	<img src="<%= image_url('agent_50.png') %>" />
			    </div>
			    <div class="Column">
			    	<a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More</a>
			    </div>
			</div>
        </div>
    </div>
</header>

